# 转换自 Access Widener 文件
# 字段访问
public net.minecraft.client.renderer.texture.DynamicTexture #pixels
public net.minecraft.client.renderer.texture.TextureManager #byPath
public net.minecraft.client.renderer.texture.TextureManager #tickableTextures

# 方法访问
public net.minecraft.client.renderer.texture.TextureManager #safeClose(Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/client/renderer/texture/AbstractTexture;)V
public net.minecraft.world.entity.ai.village.poi.PoiTypes #getBlockStates(Lnet/minecraft/world/level/block/Block;)Ljava/util/Set;

# 类访问（将这些内部类设为public）
public net.minecraft.world.entity.npc.VillagerTrades$EmeraldForItems
public net.minecraft.world.entity.npc.VillagerTrades$ItemsForEmeralds
public net.minecraft.client.renderer.ItemInHandRenderer$HandRenderSelection
public net.minecraft.core.RegistrySetBuilder$RegistryStub
public net.minecraft.client.renderer.FogRenderer$FogData

# todo:访问加宽全换成mixin，我不会用Access Widener